<div class="profile-container">
    <div class="profile-header">
        <h1>Welcome {{name}}!</h1>
    </div>
</div>

<h2>My Profile Information</h2>
{{!-- <div class="search">
    <div class="search-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>
</body> --}}

{{#each jobDetails as |job|}}
<div class="job-container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="job-header">
        <h3>{{job.role_name}}</h3>
        {{!--<div class="remote-status">{{job.remote ? 'Remote: Yes' : 'Remote: No'}}</div>--}}
    </div>

    <div class="collapsible-container">
        <button class="button btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-toggle="#collapseExample{{job.id}}" aria-expanded="false" aria-controls="collapseExample{{job.id}}">View More</button>
        <div class="collapsible-content collapse" id="collapseExample{{job.id}}">
            <!-- Additional job details here -->
            <div class="card">
                <div class="card-body">
                    <p>{{job.description}}</p>
                </div>               
            </div>
            <p>Location: {{job.company_name}}</p>
            <!-- Include any other job details you want to display -->
        </div>
    </div>
</div>
{{/each}}