
<div class="container d-flex justify-content-center mt-5">
  <form id="search-form" class="">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="search-box" class="col-form-label">Search:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="search-box" class="form-control" value="{{searchText}}" required/>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" id="search-button" type="submit">
            Go!
        </button>
      </div>
    </div>
  </form>
</div>

<script src="js/search.js"></script>
