<div id="login-container" class="container d-flex justify-content-center mt-5">
    <form id="login-form">
    <h2 class="d-flex justify-content-center mt-1">Login</h2>
        <label for="login-email">Email:</label>
        <input type="text" id="login-email" name="login-email">

        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="login-password">

        <button type="submit">Login</button>
    <p class="d-flex justify-content-center mt-1">Don't have an account? <a href="#" id="toggle-signup">Sign Up</a></p>
    </form>
</div>

<div id="signup-container" class="visually-hidden card mx-auto mt-2">
    <form id="signup-form" class="card mx-auto mt-2">
    <h2>Sign Up</h2>
        <label for="signup-name" class="ml-5">Name</label>
        <input type="text" id="signup-name" name="signup-name">

        <label for="signup-email">Email:</label>
        <input type="email" id="signup-email" name="signup-email">

        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password" name="signup-password">

        <button type="submit">Sign Up</button>
    <p>Already have an account? <a href="#" id="toggle-login">Login</a></p>
    </form>
</div>

<script src="./js/login.js"></script>