{{#each jobs}}
  <div class="job-container">
    <div class="job-header">
      <h3>{{name}}</h3>
      <div class="remote-status">{{remote ? 'Remote: Yes' : 'Remote: No'}}</div>
    </div>
    <div class="job-description">
      <p>{{description}}</p>
    </div>
    <div class="collapsible-container">
      <button class="collapsible-button">View More</button>
      <div class="collapsible-content">
        <!-- Additional job details here -->
        <p>Location: {{location}}</p>
        <!-- Include any other job details you want to display -->
      </div>
    </div>
  </div>
{{/each}}